* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

body {
  background: linear-gradient(to top, #fad0c43d 0%, #ffd1ffd5 100%);
}

.header {
  height: 80px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.Completed-btn {
  display: block;
  margin: 20px 0 0 auto;
  padding: 10px 18px;
  background-color: rgb(197, 161, 231);
  border: 1px solid rgb(75, 8, 75);
  border-radius: 10px;
  cursor: pointer;
}

span {
  font-size: 25px;
  color: rgb(129, 59, 129);
}

.arranging_diet_flex {
  display: flex;
  gap: 50px;
  padding-bottom: 113px;
}

.diet_box1.active {
  background-color: rgb(197, 161, 231);
  font-weight: bold;
  border: 1px solid rgb(75, 8, 75);
}

.nav {
  border-radius: 10px;
  padding: 55px 10px 30px;
  margin-top: 60px;
  margin-left: 30px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100px;
}

.move {
  margin-left: 15px;
}

.diet {
  margin-top: 100px;
  width: 45%;
}

.diet_day {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  margin-left: 40px;
}

.diet_box1 {
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

.diet_box1:hover {
  transform: scale(1.05);
}

.first {
  background-color: rgba(240, 128, 128, 0.25);
}

.diet_heading {
  margin-top: 50px;
  margin-bottom: 20px;
}

.diet_box1.completed {
  background-color: rgb(73, 187, 73);
  border: 2px solid rgb(7, 53, 7);
  color: white;
}

.diet_box1.disabled {
  pointer-events: none;
  opacity: 0.6;
  background-color: #ddd;
}

.food_type {
  display: flex;
  gap: 20px;
  border: 1px solid black;
  padding: 10px 25px;
  border-radius: 10px;
  width: fit-content;
}

.food_explaination {
  margin-top: 30px;
  margin-bottom: 30px;
}

#backround_color {
  background-color: rgb(197, 161, 231);
  font-weight: bold;
  border: 1px solid rgb(75, 8, 75);
}

.veg_food,
.Nonveg_food {
  border: 1px solid black;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
}

.diet_content {
  width: 30%;
}

.food_plan {
  margin-top: 30px;
}

.food_plan h3 {
  font-size: 22px;
}

.food_plan ul {
  margin-top: 15px;
  margin-left: 25px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  z-index: 9999;
  opacity: 1;
}

body {
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  .header {
    height: 80px;
    padding: 20px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
  }
  .food_type {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    padding: 10px 25px;
    border-radius: 10px;
    width: fit-content;
    margin-left: 30px;
  }
  .arranging_diet_flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .diet_content {
    width: 100%;
  }

  .nav {
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin-top: 60px;
  }

  .move {
    margin-left: 0;
  }

  .diet {
    width: 100%;
    margin: 0;
  }

  .diet_day {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 3fr));
    gap: 10px;
    padding: 0 10px;
    width: 70%;
  }

  .diet_box1 {
    font-size: 12px;
    padding: 8px;
  }

  footer {
    font-size: 14px;
    text-align: center;
    padding: 10px;
  }
}
